<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CATÁLOGO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">


  <h1>Ionic</h1>


  <ion-button color="primary">Primary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button>
  <br>
  <ion-button color="dark">
    <ion-icon name="battery-charging-outline" color="danger"></ion-icon>
    Left Icon
  </ion-button>

  <ion-button>
    Right Icon
    <ion-icon slot="end" name="star"></ion-icon>
  </ion-button>

  <ion-button>
    <ion-icon slot="icon-only" name="star"></ion-icon>
  </ion-button>

  <br>
  <br>


  <h1>Ionic 2</h1>


  <ion-button color="primary">Primary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button>
  <br>
  <ion-button color="dark">

    <ion-icon name="battery-charging-outline" color="danger"></ion-icon>
    Left Icon
  </ion-button>

  <ion-button>
    Right Icon
    <ion-icon slot="end" name="star"></ion-icon>
  </ion-button>

  <ion-button>
    <ion-icon slot="icon-only" name="star"></ion-icon>
  </ion-button>

  <br>
  <br>

  <h1>Material </h1>
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

  <h3>Extended Fab</h3>
  <div class="example-button-row">
    <button mat-fab extended color="primary">
      <mat-icon>favorite</mat-icon>
      Primary
    </button>
    <button mat-fab extended color="accent">
      <mat-icon>favorite</mat-icon>
      Accent
    </button>
    <button mat-fab extended color="warn">
      <mat-icon>favorite</mat-icon>
      Warn
    </button>
    <button mat-fab extended disabled>
      <mat-icon>favorite</mat-icon>
      Disabled
    </button>
    <a mat-fab extended routerLink=".">
      <mat-icon>favorite</mat-icon>
      Link
    </a>
  </div>

  <br>

  <h1>PrimeNG 1</h1>

  <p-button label="Primary" styleClass="p-button-rounded"></p-button>
  <p-button label="Secondary" styleClass="p-button-rounded p-button-secondary"></p-button>
  <p-button label="Success" styleClass="p-button-rounded p-button-success"></p-button>
  <p-button label="Info" styleClass="p-button-rounded p-button-info"></p-button>
  <p-button label="Warning" styleClass="p-button-rounded p-button-warning"></p-button>
  <p-button label="Help" styleClass="p-button-rounded p-button-help"></p-button>
  <p-button label="Danger" styleClass="p-button-rounded p-button-danger"></p-button>

  <br>
  <br>

  <br>

  <h1>PrimeNG 2</h1>

  <p-button label="Primary" styleClass="p-button-rounded"></p-button>
  <p-button label="Secondary" styleClass="p-button-rounded p-button-secondary"></p-button>
  <p-button label="Success" styleClass="p-button-rounded p-button-success"></p-button>
  <p-button label="Info" styleClass="p-button-rounded p-button-info"></p-button>
  <p-button label="Warning" styleClass="p-button-rounded p-button-warning"></p-button>
  <p-button label="Help" styleClass="p-button-rounded p-button-help"></p-button>
  <p-button label="Danger" styleClass="p-button-rounded p-button-danger"></p-button>

  <br>
  <br>


  <br>

  <h1>PrimeNG 3</h1>

  <p-button label="Primary" styleClass="p-button-rounded"></p-button>
  <p-button label="Secondary" styleClass="p-button-rounded p-button-secondary"></p-button>
  <p-button label="Success" styleClass="p-button-rounded p-button-success"></p-button>
  <p-button label="Info" styleClass="p-button-rounded p-button-info"></p-button>
  <p-button label="Warning" styleClass="p-button-rounded p-button-warning"></p-button>
  <p-button label="Help" styleClass="p-button-rounded p-button-help"></p-button>
  <p-button label="Danger" styleClass="p-button-rounded p-button-danger"></p-button>

  <br>
  <br>


  <br>

  <h1>PrimeNG 4 </h1>

  <p-button label="Primary" styleClass="p-button-rounded"></p-button>
  <p-button label="Secondary" styleClass="p-button-rounded p-button-secondary"></p-button>
  <p-button label="Success" styleClass="p-button-rounded p-button-success"></p-button>
  <p-button label="Info" styleClass="p-button-rounded p-button-info"></p-button>
  <p-button label="Warning" styleClass="p-button-rounded p-button-warning"></p-button>
  <p-button label="Help" styleClass="p-button-rounded p-button-help"></p-button>
  <p-button label="Danger" styleClass="p-button-rounded p-button-danger"></p-button>

  <br>
  <br>


</ion-content>
