.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo-container {
  margin-bottom: 5px;

  .logo {
    width: 100px;
    height: auto;
    transition: transform 0.9s ease-in-out;

    &:hover {
      transform: rotateY(360deg);
    }
  }
}
ion-card {
  width: 90%;  /* Ancho del 90% del contenedor padre */
  height: auto;  /* Altura automática basada en el contenido */
  max-width: 600px;  /* Ancho máximo para que no se vea demasiado grande en pantallas grandes */
  margin: 1rem auto;  /* Centrado horizontal con un pequeño margen alrededor */
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);  // Añadir más sombra
}

ion-card-title {
  text-align: center;
}

.login-card {
  margin: 30px;  // Añade margen alrededor de la tarjeta
  ion-button {
    margin-top: 30px;  // Añade margen superior al botón
  }
}
// .login-card {
//   --ripple-color: lightgray;

//   &:hover {
//     box-shadow: 0 4px 8px rgba(255, 5, 5, 0.2);
//   }
// }
